{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Checkins{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('checkin.create') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for checkin in checkins %}
        <article class="checkin">
            <header>
                <div>
                    <h1>{{ checkin['title'] }}</h1>
                    <div class="about">by {{ checkin['first_name'] }} {{ checkin['family_name'] }} on {{ checkin['created'].strftime('%Y-%m-%d') }}</div>
                </div>
                {% if g.user['id'] == checkin['author_id'] %}
                    <a class="action" href="{{ url_for('checkin.update', id=checkin['id']) }}">Edit</a>
                {% endif %}
            </header>
            <p class="body">{{ checkin['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}