{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required autofocus>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" id="first-name" required>
        <label for="family-name">Family Name</label>
        <input type="text" name="family-name" id="family-name" required>
        <label for="email"> Email</label>
        <input type="email" name="email" id="email" required>
        <button type="submit">Register</button>
    </form>
{% endblock %}